* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    color: whitesmoke;
}

.header {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
}

.header button {
    background-color: gold;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}